!  ___________________________________________________________________________
!  ] ~~~~~~~~~  CAUTION  ~~~  CAUTION  ~~~  CAUTION  ~~~  CAUTION  ~~~~~~~~~ [
!  ]‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾[
!  ]    /‾\    Under normal circumstances, the following configlet    /‾\    [
!  ]   / ! \   SHOULD NOT be modified, as the content provides the   / ! \   [
!  ]  /_____\  minimum configuration required for connectivity.     /_____\  [
!  ]_________________________________________________________________________[
!  ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
hostname {{ hostname }}
!
{%- for interface in interfaces %}
{%-   if interface.hostname == hostname %}
{%-     if interface.evpnlink %}
interface {{ interface.interface }}
   description {{ interface.description }}
   no shutdown
   mtu 9214
   no switchport
   ip address {{ interface.ip }}
!
{%-     endif %}
{%-     if interface.transportlink %}
interface {{ interface.alias }}
   description {{ interface.description }}
   no shutdown
   mtu 9214
   no switchport
   ip address {{ interface.ip }}
!
{%-     endif %}
{%-   endif %}
{%- endfor %}
!
interface Loopback0
   ip address {{ router_id }}/32
!
interface Loopback1
   ip address {{ vtep }}/32
!
interface Management1
   {%- if veos %}
   mac-address {{ veos_mac }}
   {%- endif %}
   description oob mgmt port
   no shutdown
   vrf mgmt
   ip address {{ mgmt_ip }}/{{mgmt_prefixlen}}
!
interface Vxlan1
   vxlan source-interface Loopback1
   vxlan virtual-router encapsulation mac-address mlag-system-id
   vxlan udp-port 4789
!
hardware tcam
   system profile vxlan-routing
!
{%- if mlag_heartbeat_ip is not None %}
{%- for interface in interfaces %}
interface {{ interface.alias }}
   description {{ interface.description }}
   no shutdown
   switchport
   channel-group 4000 mode active
!
{%- endfor %}
ip virtual-router mac-address {{ vr_mac }}
!
mlag configuration
   domain-id {{ mlag_id }}
   peer-address heartbeat {{ mlag_heartbeat_ip }}
!
{%- endif %}
ip route vrf mgmt 0.0.0.0/0 {{ mgmt_gw }}
!
router bgp {{ asn }}
   bgp asn notation asdot
   router-id {{ router_id }}
   {%- if not veos %}
   update wait-install
   {%- endif %}
   distance bgp 20 200 200
   no bgp default ipv4-unicast
   maximum-paths 4
   {%- if mlag_heartbeat_ip is not None %}
   neighbor UNDERLAY_MLAG_PEER peer group
   neighbor UNDERLAY_MLAG_PEER send-community 
   neighbor UNDERLAY_MLAG_PEER maximum-routes 12000 warning-limit 80 percent
   neighbor UNDERLAY_MLAG_PEER remote-as {{ asn }}
   neighbor UNDERLAY_MLAG_PEER next-hop-self
   {%- endif %}
   neighbor OVERLAY_SPINES_EVPN peer group
   neighbor OVERLAY_SPINES_EVPN remote-as {{ spine_asn }}
   neighbor OVERLAY_SPINES_EVPN next-hop-unchanged
   neighbor OVERLAY_SPINES_EVPN update-source Loopback0
   neighbor OVERLAY_SPINES_EVPN bfd
   neighbor OVERLAY_SPINES_EVPN ebgp-multihop 2
   neighbor OVERLAY_SPINES_EVPN password 7 {{ overlay_pw }}
   neighbor OVERLAY_SPINES_EVPN send-community
   neighbor OVERLAY_SPINES_EVPN maximum-routes 150000 warning-limit 80 percent
   neighbor UNDERLAY_SPINES_V4 peer group
   neighbor UNDERLAY_SPINES_V4 remote-as {{ spine_asn }}
   neighbor UNDERLAY_SPINES_V4 password 7 {{ underlay_pw }}
   neighbor UNDERLAY_SPINES_V4 send-community
   neighbor UNDERLAY_SPINES_V4 maximum-routes 12000 warning-limit 80 percent
   {%- for peergroup in bgp.peergroups %}
   {%-   for peer in peergroup %}
   {%-     if peer.hostname == hostname and peergroup == 'UNDERLAY_SPINES_V4' %}
   neighbor {{ peer.ip }} peer group UNDERLAY_SPINES_V4
   neighbor {{ peer.ip }} description {{ peer.peer_hostname }}
   {%-     endif %}   
   {%-     if peer.hostname == hostname and peergroup == 'OVERLAY_SPINES_EVPN' %}
   neighbor {{ peer.ip }} peer group OVERLAY_SPINES_EVPN
   neighbor {{ peer.ip }} description {{ peer.description }}
   {%-     endif %}
   {%-   endfor %}
   {%- endfor %}
   {%- for peer_ip in spine_router_ids %}
   neighbor {{ peer_ip }} peer group OVERLAY_SPINES_EVPN=
   {%- endfor %}
   {%- if mlag_heartbeat_ip is not None %}
   {%- if hostname[-1].upper() == 'A' %}
   neighbor {{ mlag_peering_b }} peer group UNDERLAY_MLAG_PEER
   neighbor {{ mlag_peering_b }} description {{ hostname[0:-1] + 'B' }}-MLAG
   {%- else %}
   neighbor {{ mlag_peering_a }} peer group UNDERLAY_MLAG_PEER
   neighbor {{ mlag_peering_a }} description {{ hostname[0:-1] + 'B' }}-MLAG
   {%- endif %}
   {%- endif %}
   !
   address-family evpn
      neighbor overlay activate
   !
   address-family ipv4
      neighbor underlay activate
      {%- if mlag_heartbeat_ip is not None %}
      neighbor UNDERLAY_MLAG_PEER activate
      {%- endif %}
      network {{ router_id }}/32
      network {{ vtep }}/32
!
end
